.footerer {
    background-color: rgb(66, 66, 66);
}

.footerblock {
    background-color: rgb(88, 88, 88);
}

.footerend {
    background-color: rgb(44, 44, 44);
}

.footer-text {
    color: rgb(199, 199, 199);
}